{% extends './base.html'%}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center block">
            <div class="card" style="width: 30em;">
                <div class="card-body">
                    <form action="" method="POST">  
                        {% csrf_token%}
                        {% bootstrap_form form %}
                        <input type="submit" class="btn btn-outline-info" value="Login">
                        <input type="hidden" name="next" value="{% url 'index'%}">
                    </form>
                    <br>
                    <p>Dont hava an account ? <a href="/accounts/register/"> Signup</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}